<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{{.Site.BaseURL}}css/index.css">
		<script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
		<title>{{.Site.Title}}</title>

		<style>
			.container{
				width: 100vw;
				height: 80vh;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				font-family: sans-serif;
			}

			.content{
				font-size: 2vw;
			}
			
			#app {
				font-size: 5vw;
				color: rgb(202, 57, 40);
				font-weight: bold;
			}
		</style>
	</head>
	<body>
		{{partial "navbar.html" . }}
		<div class="container">
			<div class="content">I write about</div>
			<div id="app" class="content"></div>
		</div>

		<script>
			var app = document.getElementById("app");
			var typewriter = new Typewriter(app, {
				delay: 75,
				loop: true
			});
			typewriter
				.typeString("Web Dev")
				.pauseFor(1000)
				.deleteChars(7)
				.typeString("WebRTC")
				.pauseFor(1000)
				.deleteChars(6)
				.typeString("React")
				.pauseFor(1000)
				.deleteChars(5)
				.typeString("Django")
				.pauseFor(1000)
				.deleteChars(6)
				.typeString("Much More!")
				.pauseFor(1000)
				.start();
		</script>
	</body>
</html>
