<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{.Site.BaseURL}}css/series.list.css">
	<link rel="stylesheet" href="{{.Site.BaseURL}}css/index.css">
	<title>{{.Site.Title}} | Series</title>
</head>
<body>
	{{ partial "navbar.html" . }}

	<div>
		
		<div class="series-container">
		{{range .Site.Pages}}
			{{if .IsPage }}
			<div class="series-card">
				<div class="card-header">
					{{.Page.Title}}
				</div>
				<div class="card-description">
					{{.Page.Description}}
					
				</div>
				{{if .Page.Params.tags }}
				<span>{{ range .Page.Params.tags}} #{{.}} {{end}} </span>
				{{end}}
				<div>
					
					<a href="{{.Page.RelPermalink}}" class="series-card-btn">Explore</a>
				</div>
			</div>
			{{end}}
			{{end}}
		</div>
	</div>
	
</body>
</html>